
.main {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    display: flex;

    .barner {

        > * {
            height: 100vh;
            width: 100%;
        }

    }

    .logo-form {
        width: 60%;

        display: flex;
        align-items: center;
        flex-direction: column;

        .nairobi-logo {

            margin: 20px 0 0 0;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            width: 90%;

            margin: 50px 0 0 0;
    
            .labels {
                display: flex;
                flex-direction: column;
    
                width: 60%;
            }
    
            .text {
                display: flex;
                flex-direction: column;
                align-items: center;

                >* {
                    margin: 25px 0 0 0;
                }
            }
    
            input {
                // width: 100%;
                height: 3rem;
                padding: 0.5rem;
                background-color: #EFEEEF;
                
    
                border: none;
                border-radius: 5px;
    
            }
    
            .login-button {
                width: 55%;
                height: 3rem;
                margin-top: 2rem;
    
                background-color: #202527;
                color: #EFEEEF;
    
                border: none;
                border-radius: 55px;
            }
            >* {
                margin: 20px 0 0 20px;
            }
        }

    }

}

@media screen and (max-width: 768px) {

    .main {
        width: 100%;
        align-items: center;
        justify-content: center;

        background: url(/mobilefade.webp);
        background-repeat: no-repeat;
        background-size: contain;
        .barner {

            display: none;
        }
        .logo-form {
            width: 100%;

            .login-form {
                width: 80%;
        
                .labels {
                    width: 100%;
                }
    
                .login-button {
                    width: 100%;
                    border-radius: 30px;
                }
            }
        }


    }

}